<!doctype html>
<html lang="en" ng-app="projectsApp">
  <head>
    <meta charset="UTF-8"/>
    <title>Lana CI Server</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="ProjectsCtrl">
    <h1>Projects</h1>
    <table id="projects">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Output</th>
        </tr>
      </thead>
        <tr class="project" ng-repeat="project in projects">
          <td class="status">
              <p ng-show="project.log_info===null" class="success">✓</p>
              <p ng-show="project.log_info!==null" class="failure">✕</p>
          </td>
          <td class="name">
            <p>{{project.provider_info+':'+project.repository_info+':'+project.branch_info}}</p>
          </td>
          <td class="output">
              <p ng-show="project.log_info===null">Build & Deploy Succeeded</p>
              <p ng-show="project.log_info!==null">{{project.log_info}}</p>
          </td>
        </tr>
    </table>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
