.success {
    color: green;
}

.failure {
    color: red;
}

tr.project {
    border-spacing: 0px;
}

tr.project:nth-child(2n+1) {
    background-color: #f9f9f9;
}

td {
    padding: 10px 10px 10px 10px;
    border-top-color: #ddd;
    border-top-width: 1px;
    border-top-style: solid;
}

table {
    text-align: middle;
    border-collapse: collapse;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}